.welcome.index
  .page-container
    height: 100%
  h3
    @media (max-width: 768px)
      font-size: 22px
  #detailscontainer
    top: 40%
    @media (max-width: 768px)
      top: 35%
  .contents-container
    ul
      li
        height: 300px
        &:first-of-type
          height: auto
      .photo
        height: 400px
      .photo-sm
        height: 200px
  .issue-title
    bottom: 0
    left: 20px
    