.welcome-header
  background-image: image_url('header')
  .page-container
    height: 100%
  h1
    font-size: 80px
    line-height: .9
    @media (max-width: 768px)
      font-size: 65px
  h3
    @media (max-width: 768px)
      font-size: 22px
  #detailscontainer
    top: 40%
    @media (max-width: 768px)
      top: 35%
  #subscribecontainer
    bottom: 10%
    @media (max-width: 768px)
      bottom: 5%